[submodule "plugged/vim-powerline"]
	path = plugged/vim-powerline
	url = https://github.com/Lokaltog/vim-powerline
  ignore = dirty
[submodule "plugged/vim-instant-markdown"]
	path = plugged/vim-instant-markdown
	url = https://github.com/suan/vim-instant-markdown
  ignore = dirty
[submodule "plugged/taglist.vim"]
	path = plugged/taglist.vim
	url = https://github.com/vim-scripts/taglist.vim.git
	ignore = dirty
[submodule "plugged/c.vim"]
	path = plugged/c.vim
	url = https://github.com/vim-scripts/c.vim.git
	ignore = dirty

[submodule "plugged/emmet-vim"]
	path = plugged/emmet-vim
	url = https://github.com/mattn/emmet-vim.git
[submodule "plugged/gv.vim"]
	path = plugged/gv.vim
	url = https://github.com/junegunn/gv.vim.git
